<!-- This page is called once the booking form is submitted
	The Line below takes the contents of layout.html
	and uses it to style the current page
	So it includes the navbar etc.
-->

{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
 <!-- When the form is submitted the page will have a thank you message
 	as a leading title
 -->
        <h1>Thank You For Completing The Form</h1>
        <p class="lead">You Entered</p>
<!-- Anything within the double curly brackets  is a variable that is passed in from app.py
	These ones are the values of the form
	(fname , lname, email , room , date)
-->
        <p>Name:{{fname}} {{lname}} you picked room {{room}} for the {{date}}</p>
        <p>The associated email is {{email}}</p>
        <h2>Below are the previous bookings</h2>
    </br>
<!--This is a loop
	It loops over the result variable (see app.py)
	and for every value it is passed in
	Ultimately, it should loop over however many entries into the
	booking system there are
	and output each one on a different line
-->
        {% for r in result %}
        <div class ="lead">
        	{{r.fname}} {{r.lname}} {{r.email}} Room{{r.room}} {{r.date}}
        </div>
<!-- End of the loop-->
        {% endfor %}
    </div>

{% endblock %}